.layout {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--brand-blue);
}

.main {
  display: flex;
  flex: 1 0 auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 0.75rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 2rem;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 auto;
  width: 100%;
  max-width: 1076px;

  :is(a) {
    color: var(--white);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footerColumn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 1000px) {
  .layout {
    padding: 1.5rem 0.75rem 0;
  }

  .main {
    padding: 0;
  }

  .mobileFooter {
    color: var(--white);
    padding: 0.625rem 0.1875rem;
  }

  .mobileLink {
    color: var(--white);
    text-decoration: none;
  }
}
