.connectedAccount {
  display: flex;
  justify-items: center;
  gap: 1rem;
  min-width: 350px;
  max-height: 3.75rem;
  border-radius: 12px;
  background: var(--white);
  padding: 0.9375rem 0.75rem;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid var(--brand-extra-dark);
  color: var(--brand-extra-dark);
}

.connectedAccountDetails {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  text-align: end;
  margin-bottom: 0;
}

.connectedAccountAddress {
  flex: 1 1 60%;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0;
  text-align: right;
}

.network {
  flex: 0 0 40%;
  overflow: hidden;
  max-height: 28px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  text-transform: capitalize;
}

.jazzIcon {
  display: flex;
  align-self: center;
}

@media screen and (max-width: 1000px) {
  .connectedAccount {
    width: 32px;
    min-width: unset;
    height: 32px;
    min-height: unset;
    border-radius: 50%;
    padding: 0.375rem;
    margin-bottom: 0.125rem;
    border-color: var(--white);
    justify-content: center;
  }
}
