.input {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    height: 2.8125rem;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-inline-start: 24px;
    padding-inline-end: 15px;
    border-radius: 4px;
    min-width: 0;
    outline: 2px solid transparent;
    outline-offset: 2px;
    position: relative;
    appearance: none;
    transition-property: border;
    transition-duration: 100ms;
    border: 2px solid var(--brand-blue);
    color: var(--brand-extra-dark);
  }

  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--white);
    pointer-events: none;
    margin-inline-start: 1.5rem;
    margin-inline-end: 0.75rem;
    margin-top: 0.65625rem;
    margin-bottom: 0.65625rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--brand-blue);
    transform-origin: left top;
    transition-property: transform, font-size, line-height;
    transition-duration: 200ms;
  }

  input + label,
  &:focus-within label {
    transform: translateY(-16px);
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    margin-inline-start: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.inputDisabled {
  pointer-events: none;
  cursor: not-allowed;
}

.inputError {
  margin-top: 0.5rem;
}
