.connectWalletBtn {
  height: 3rem;

  &:not(.inline) {
    position: absolute;
    right: 3.125rem;
  }
}

.connectedAccount {
  &:not(.connectedAccountInline) {
    position: absolute;
    right: 3.125rem;
  }
}

@media screen and (max-width: 1000px) {
  .connectWalletBtn {
    &:not(.inline) {
      height: 2.125rem;
      font-size: 14px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -0.02em;
      padding: 0.4375rem 0.5625rem;
      border-radius: 4px;
    }
  }
}
