.card.card {
  min-height: 450px;
  padding: 0 4.6875rem 0;
  margin-bottom: 0;
  place-self: center;
  margin-top: -2.5rem;
}

.alert {
  text-align: center;

  h2 {
    color: var(--brand-blue);
    margin-top: 4.5rem;
    margin-bottom: 1.625rem;
  }

  > p {
    color: var(--brand-extra-dark);
  }

  .icon {
    margin: 2rem auto 1.6875rem;
  }

  .actions {
    &:empty {
      display: none;
    }

    span {
      text-align: center;
      color: var(--brand-extra-dark);
    }
  }

  .cancelIcon {
    fill: var(--red);
  }

  .checkIcon {
    fill: var(--green);
  }
}

@media screen and (max-width: 1000px) {
  .card.card {
    margin-top: 2.375rem;
  }
}
